<form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input class="form-control"  formControlName="title" type="text" placeholder="Add title">
    </div>

    <div class="form-group">
      <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3" placeholder="Add Description"></textarea>

      <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" formControlName="note" id="exampleFormControlTextarea1" rows="3" placeholder="Add a note"></textarea>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
              <input type="text" class="form-control" id="txstep" placeholder="add a step"  formControlName="currentStep" >
          </div>
          <div class="col">
              <button class="btn btn-primary mb-2" (click)="addStep(); submitting=false">Add</button>
          </div>
        </div>
      </div>
      <div>steps </div>
      <ul *ngFor="let step of steps">
          <li>
            {{step.step}}
          </li>
        </ul>
      <button class="btn btn-primary" type="submit" (click)="submitting=true">Save</button>
  </form>




